<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Fincas - Listar</title>
</head>
<body>
	<div>
		<h1>Fincas</h1>

		<table>
			<thead>
				<tr>
					<th>Codigo Finca</th>
					<th>Nombre</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Espacio Total</th>
					<th>Espacio construido</th>
					<th>Espacio Gallinas</th>
					<th>Capacidad Bodegas</th>
					<th>Edicion</th>
					<th>Eliminacion</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="finca : ${fincas}">
					<td><span th:text="${finca.codigo_Finca}"> </span></td>
					<td><span th:text="${finca.nombre}"> </span></td>
					<td><span th:text="${finca.direccion}"> </span></td>
					<td><span th:text="${finca.telefono}"> </span></td>
					<td><span th:text="${finca.espacioTotal}"> </span></td>
					<td><span th:text="${finca.espacioConstruido}"> </span></td>
					<td><span th:text="${finca.espacioGallinas}"> </span></td>
					<td><span th:text="${finca.capacidadBodega}"> </span></td>
					<td><a th:href="@{/ActualizarFinca/{codigo_Finca}(codigo_Finca=${finca.codigo_Finca})}">Editar</a></td>
					<td>Eliminar</td>
				</tr>
			</tbody>
		</table>


	</div>
</body>
</html>