<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Productora de Huevos</title>
</head>
<body>
	<div>
		<h1>Huevos Ticos, Huevos Frescos</h1>
		<ul>
			<li><a href="/RegistroFinca">Registrar Finca</a></li>
			<li><a href="/RegistroEmpleado">Registrar empleado</a></li>
			<li><a href="/ListarFincas">Listar Fincas</a></li>
			<li><a href="/RegistrarProduccion">Registrar produccion del dia</a></li>
			<li><a href="/ListarProduccion">Produccion mensual</a></li>
		</ul>
	</div>
</body>
</html>