<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Productora de Huevos</title>
</head>
<body>
	<div>
		<h1>Productora de Huevos Costarricense</h1>
		<ul>
			<li><a href="http://localhost:3377/RegistroFinca">Registrar Finca</a></li>
			<li><a href="http://localhost:3377/RegistroEmpleado">Registrar empleado</a></li>
			<li><a href="http://localhost:3377/ActualizarFinca">Actualizar Finca</a></li>
			<li><a href="http://localhost:3377/DesactivarCuenta">Eliminar empleado</a></li>
			<li><a href="http://localhost:3377/ListarFincas">Listar Fincas</a></li>
			<li><a href="http://localhost:3377/RegistrarProduccion">Registrar produccion del dia</a></li>
			<li><a href="http://localhost:3377/ListarProduccion">Produccion mensual</a></li>
		</ul>
	</div>
</body>
</html>