<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Fincas - Registro</title>
</head>
<body>
	<div>
		<h1>Registro Finca</h1>
		<ul>
			<li><span>codigoFinca: <input type="text"></span></li>
			<li><span>Nombre: <input type="text"></span></li>
			<li><span>Direccion: <input type="text"></span></li>
			<li><span>Telefono: <input type="text"></span></li>
			<li><span>Espacio Total: <input type="text"></span></li>
			<li><span>Espacio construido: <input type="text"></span></li>
			<li><span>Espacio gallinas: <input type="text"></span></li>
			<li><span>Capacidad bodega: <input type="text"></span></li>
		</ul>
	</div>
</body>
</html>