<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Produccion - Registro</title>
</head>
<body>
	<div>
		
		<form th:action="@{/ProduccionRegistrado}"
			th:object=${produccion} method="post">
			<fieldset>

				<legend> Produccion del dia</legend>

				<ul>
					<li><span>Codigo: </span><input type="text"
						th:field="*{codigo}"></li>
					<li><span>Cantidad de huevos: </span><input type="text"
						th:field="*{cantidad}"></li>
					<li><span>Fecha: </span><input type="date"
						th:field="*{fecha}"></li>
					<li><span>CodigoFinca: </span><input type="date"
						th:field="*{codigo_Finca}"></li>
				</ul>

				<button type="submit">Registrar empleado</button>

			</fieldset>


		</form>
		
	</div>
</body>
</html>