<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Empleado - Registro</title>
</head>
<body>
	<div>
		<h1>Registro de empleado</h1>
		
		<form th:action="@{http://localhost:3377/EmpleadoRegistrado}" th:object=${empleado}
			method="post">
			<fieldset>

				<legend> Datos del empleado</legend>

				<ul>
					<li><span>Cedula: </span><input type="text" th:field="*{cedula}"></li>
					<li><span>Nombre: </span><input type="text" th:field="*{nombre}"></li>
					<li><span>Tipo: </span><input type="text" th:field="*{tipo}"></li>
					<li><span>Condicion: </span><input type="text" th:field="*{condicion}"></li>
					<li><span>CodigoFinca: </span><input type="text" th:field="*{codigo_Finca}"></li>
				</ul>

				<button type="submit">Registrar Finca</button>

			</fieldset>


		</form>
		
		
	</div>
</body>
</html>